body,
h1,
a,
p {
  font-family: "Montserrat", sans-serif;
}
body {
  overflow-x: hidden;
}
html {
  margin: 0;
  padding: 0;
}
.cont {
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.bg {
  overflow: hidden;
}
.side {
  background-color: transparent !important;
  border: transparent !important;
}
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw !important;
  height: 100vh !important;
  object-fit: cover;
  z-index: -1;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%) scale(1.3);
  filter: brightness(50%);
}
#navbar {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 247, 231);
  z-index: 4;
}
.close-btn {
  position: absolute;
  background-color: white !important;
  border: 1px solid transparent;
  opacity: 0.7;
  border-radius: 0.25rem;
  padding: 0 11px;
  z-index: 5;
  top: 15px !important;
  right: 16px !important;
  align-items: center;
}
.close-btn i {
  color: black;
  font-weight: bold !important;
}
.close-btn:active,
.close-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 4px #000; /* Add a 2px black border when clicking or focusing */
}
.buy-btn:hover {
  background-color: white;
  color: black !important;
}
.icon {
  font-size: 36px;
  margin-bottom: 20px;
  color: white;
}
.bi-arrow-down-short {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
  100% {
    transform: translateY(0);
  }
}

.side-btn {
  padding: 4px 10px;
  width: fit-content;
  top: 70px;
  border-radius: 0.25rem;
}
.side-btn:active,
.side-btn:focus {
  outline: none; /* Remove default focus outline */
  box-shadow: 0 0 0 4px white; /* Add a 2px black border when clicking or focusing */
}
.bgc {
  max-width: 540px;
}
.middle {
  padding-top: 150px;
}
.buy-btn {
  padding: 8px 16px;
  margin-top: 8px;
  width: fit-content !important;
  font-size: 20px;
  height: 45px !important;

  border: 1px solid white !important;
  border-radius: 7%;
}
.scroll-btn {
  position: absolute;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.sec {
  margin-top: 240x;
}
#second {
  margin-top: 240px;
  background-color: #fbf0f6;
  width: 99vw;
}
.diff {
  background-color: #fef8f9;
  padding: 80px 16px;
}
.rows {
  padding: 80px 0;
}
.img-div img {
  width: 97%;
  height: auto;
  object-fit: cover;
  max-width: 100%;
}
.img-cont {
  width: fit-content;
}
/* .left {
  padding-left: 100px;
} */

.text {
  max-width: 576px;
}
.footer {
  border-top: 1px solid #233d54;
}
@media (min-width: 1400px) {
  .fnt {
    font-size: 50px;
  }
}
@media (max-width: 543px) {
  .left,
  .right {
    height: 240px !important;
    width: 100% !important;
    object-fit: cover;
  }
  .rows {
    padding-top: 40px !important;
    padding-bottom: 15px !important;
  }
}
footer .container-xl {
  border: black !important ;
}
@media (min-width: 1200px) {
  .right {
    padding-left: 100px !important;
  }
}
